# Umami Analytics
# Example self-hosted: https://analytics.example.com/script.js
# Example Umami Cloud: https://cloud.umami.is/script.js
PUBLIC_UMAMI_SCRIPT_URL=
PUBLIC_UMAMI_WEBSITE_ID=
PUBLIC_UMAMI_DOMAINS=ngeorgeault.github.io
